#navbar ul {
  margin:0;
  padding:5px;
  list-style-type:none;
  text-align:center;
  background-color:#000;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding:.2em 1em;
}
#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}
.column {
  float:left;
  width:50%;
}

.row:after{
content: "";
display:table;
clear:both;}

#rightcolumn img {
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: thick;
}
